.get__all-questions {
  width: 200px;
  height: 50px;
  background: #43a843;
}
.get__all-categories {
  width: 200px;
  height: 50px;
  background: aqua;
}
.get__all-users {
  width: 200px;
  height: 50px;
  background: red;
}